.login{
    -fx-background-color: #1A80E5;
    -fx-font-style: bolder;
    -fx-font-size: 16px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.signup{
    -fx-background-color: #1A80E5;
    -fx-font-style: bolder;
    -fx-font-size: 16px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

#btneye{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-style: none;
    -fx-background-insets: 0;
}

.dashboard{
    -fx-background-color: white;
    -fx-font-style: bolder;
    -fx-font-size: 16px;
    -fx-font-family: "Arial Black";
    -fx-text-fill: rgba(0, 0, 0, 0.56);
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-transition: all 0.3s;

}

.dashboard:hover{
    -fx-background-color: rgb(255, 255, 255);
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10, 0 , 2 , 2 );

}