#txtUsername, #txtPassword, #txtPassField{
    -fx-prompt-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-background-color: rgba(255, 255, 255, 0.61);
    -fx-border-color: #689cd9;
    -fx-border-width: 1px;
}

.signup{
    -fx-prompt-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-background-color: rgba(255, 255, 255, 0.61);
    -fx-border-color: #689cd9;
    -fx-border-width: 1px;
}

.branch {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-prompt-text-fill: #999;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-padding: 5px;
}

.branch:focused {
    -fx-border-color: #4d90fe;
}